<form name="registrationForm" novalidate  ng-submit="$ctrl.submitForm(registrationForm.$valid)">


    <div class="form-group">
        <label><i class="glyphicon glyphicon-user" style="color: #f94900"></i> User Name</label>
        <input type="text" name="username" class="form-control" ng-model="$ctrl.user.username" required/>

        <div  ng-messages="registrationForm.username.$error" ng-messages-include="app/login/messages.html"></div>
    </div>

    <div class="form-group">
        <label><i class="glyphicon glyphicon-lock" style="color: #f94900"></i> Password</label>
        <input type="password" name="password" class="form-control" ng-model="$ctrl.user.password" required />
        <div ng-messages="registrationForm.password.$error" ng-messages-include="messages.html"></div>
    </div>

    <div class="form-group">
        <label><i class="glyphicon glyphicon-lock" style="color: #f94900"></i> Confirm Password</label>

        <input type="password" name="confirmPassword" class="form-control"
               ng-model="$ctrl.user.confirmPassword"
               required compare-to="$ctrl.user.password" />
        <div ng-messages="registrationForm.confirmPassword.$error" ng-messages-include="messages.html"></div>
    </div>


    <div class="form-group has-feedback">

        <label><i class="glyphicon glyphicon-envelope" style="color: #f94900"></i> E-mail</label>

        <input type="email" name="email" class="form-control" id="inputTwitter" ng-model="$ctrl.user.email"
               placeholder="E-mail@mail.com" required>
    </div>
    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

    <div class="help-block with-errors" ng-show="registrationForm.email.$error.email">email error</div>
    <div class="help-block with-errors" ng-show="registrationForm.email.$invalid && !registrationForm.email.$error.email">

    </div>

    <div class="form-group">
        <!-- Button -->
        <div class="col-sm-12 controls">

            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

            <button type="submit" class="btn btn-primary pull-right" disabled="{{!registrationForm.$invalid}}"><i
                    class="glyphicon glyphicon-log-in"></i>
                Register
            </button>
        </div>
    </div>

</form>
